html {
    
}

body {
    background-color: rgb(235, 235, 235);
    max-width: 100%;
    font-family: "lato";
    font-size: 16px;
    margin: 0;
    color: rgb(63, 63, 63);
}

nav {
    height: 64px;
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.logo {
    display: flex;
    align-items: center;
    
}

#first-word {
    font-weight: 700;
    font-size: 1.25rem;
}

#second-word {
    font-weight: 400;
    color: rgb(138, 138, 138);
    font-size: 1.25rem;
}

.logo img {
    height: 32px;
}

.navigation span {
    margin: 0 8px;
    font-size: 1.125rem;
}

.navigation .last {
    margin-right: 0;
}


/* main part start from here*/

main {
    border-left: 2px solid rgb(190, 190, 190);
    border-right: 2px solid rgb(190, 190, 190);
}

.banner {
    background-color: rgb(190, 190, 190);
    display: flex;
}

.banner .banner-photo {
    max-width: 60%;
    margin: 32px 24px;
}

.banner-photo img {
    max-width: 100%;
}

.banner .slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.slogan h1 {
    font-size: 2.25rem;
    line-height: 0rem;
    font-weight: 900;
}

.slogan h3 {
    font-size: 1.5rem;
    line-height: 0;
}

h4 {
    padding: 8px;
    background-color: rgb(63, 63, 63);
    text-align: center;
}

.slogan a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}


/* info-main section */

.info-main {
    display: flex;
    width: 100%;
}

.info-left {
    width: 60%;
    margin: 32px 24px;
}

.info-left img {
    margin-bottom: 32px;
    max-width: 100%;
}

.info-left .left-text {
    margin: 32px 0;
}

.left-texts h2 {
    margin-bottom: 24px;
    font-size: 2rem;
    word-spacing: .25rem;
    letter-spacing: 4px;
    font-weight: 900;
}

.left-texts p {
    font-size: 1.2rem;
    word-spacing: .1rem;
    letter-spacing: 1.5px;
}

.author {
    margin-top: 2.5rem;
    font-weight: 600;
}


.info-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-left: 1px solid rgb(190, 190, 190);
}

.detail {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(190, 190, 190);
    flex-wrap: wrap;
    align-items: center;
}

.detail img {
    max-width: 35%;
    margin: 1rem;
}

.detail .detail-info {
    max-width: 65%; 
}

.one img {
    margin-top: 0;
}

.info-right .three {
    background-color: rgb(190, 190, 190);
}

.detail-info h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

.detail-info p {
    font-size: 1.2rem;
}

.detail-info a {
    text-decoration: none;
    font-size: 1.2rem;
}

.learning {
    background-color: rgb(190, 190, 190);
    text-align: center;
    padding: 32px 56px 0 56px;
    max-width: 100%;
}

.learning h2 {
    padding-bottom: 32px;
}

.learning .learning-parts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.learning-parts .subjects {
    margin:0 16px 32px 16px;
    background-color: rgb(235, 235, 235);
    text-align: left;
}

.subjects img {
    height: auto;
    padding: 0;
    margin: 0;
}

.subjects h3 {
    font-size: 1.75rem;
    padding-top: 1rem;
    margin-left: 1rem;
}

.subjects p {
    line-height: .5rem;
    margin-left: 1rem;
}

.subjects .paragraph {
    margin-bottom: 24px;
}



/* theisis exhibit section */

.thesis-exhibit {
    background-color: rgb(235, 235, 235);
    max-width: 100%;
    border-bottom: 2px solid rgb(220, 220, 220);
    padding: 32px 0;
}

.thesis-exhibit h2 {
    text-align: center;
}

.exhibit {
    display: flex;
    width: 100%; 
}

.urban {
    width: 60%;
    margin: 32px 24px;
}

.urban video {
    max-width: 100%;
    margin-bottom: 24px;
}

.urban h3 {
    font-size: 1.5rem;
    font-weight: 700; 
    margin-bottom: 8px;
}

.urban p {
    margin-top: 0;
}

.exhibit-right {
    margin-top: 32px;
    width: 40%;
    
}

.fisma {
    max-width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(190, 190, 190);
}

.fisma img {
    width: 35%;
    margin: 1rem;
}

.tozihat {
    width: 65%;
}

.tozihat h3 {
    font-size: 1.5rem;
}


.then {
    display: flex;
    align-items: center;
    width: 100%;
}

.then img {
    margin: 1rem;
    width: 35%;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px;
}

footer p {
    margin: 0;
}

footer span {
    padding-right: 8px;
}

footer a {
    text-decoration: none;
    color: rgb(63, 63, 63);
}
